{:paths ["src" "resources"]
 :deps {org.httpkit/http-kit          {:mvn/version "2.9.0-beta3"}
        ring/ring-core                {:mvn/version "1.11.0"}
        ring/ring-codec               {:mvn/version "1.2.0"}
        dev.onionpancakes/chassis      {:mvn/version "1.0.365"}
        riddley/riddley               {:mvn/version "0.2.0"}}
 :aliases {:serve {:main-opts ["-m" "evaleval.serve"]}}}
